
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>EDIT WINE</h1>
        <form method="post" action="{{newupload_url}}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group form-group-lg"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></span>
                        <input class="form-control" name="newname" placeholder="Name of wine" aria-describedby="sizing-addon2" type="text" required value="{{ wine.name }}">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="input-group form-group-lg"> 
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></span>
                            <input class="form-control" name="newimage" placeholder="Image upload" aria-describedby="sizing-addon2" type="file" value="{{ wine.image }}">
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></span>
                        <select class="form-control" name="newcategory" placeholder="category" aria-describedby="sizing-addon2" type="text" required value="{{ wine.category }}">
                            <option value="sparkling wine">Sparkling wine</option>
                            <option value="wine" selected>Wine</option>
                            <option value="NULL">N/A</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></span>
                        <select class="form-control" name="newcolor" placeholder="color" aria-describedby="sizing-addon2" type="text" required value="{{ wine.color }}">
                            <option value="red" selected>Red</option>
                            <option value="rose">Rose</option>
                            <option value="white">White</option>
                            <option value="NULL">N/A</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></span>
                        <select class="form-control" name="newsweetness" placeholder="sweetness" aria-describedby="sizing-addon2" type="text" required value="{ wine.sweetness }}">
                            <option value="dry" selected>Dry</option>
                            <option value="semi-dry">Semi-dry</option>
                            <option value="sweet">Sweet</option>
                            <option value="NULL">N/A</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></span>
                        <input class="form-control" name="newvine" placeholder="Grape variety" aria-describedby="sizing-addon2" type="text" value="{{ wine.vine }}">
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                        <input class="form-control" name="newyear" placeholder="Vintage e.g. 2017" aria-describedby="sizing-addon2" type="number" min="1900" max="2099" step="1" required value="{{ wine.year }}">
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span></span>
                        <input class="form-control" name="newamount" placeholder="Amount e.g. 750" aria-describedby="sizing-addon2" type="number" step="1" required value="{{ wine.amount }}">
                    </div>
                </div>
                <div class="col-md-2">
                        <select class="form-control" name="newunit" placeholder="Unit" aria-describedby="sizing-addon2" type="text" required value="{{ wine.unit }}">
                            <option value="ml" selected>Milliliter</option>
                            <option value="NULL">N/A</option>
                        </select>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
        <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group form-group-lg"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                        <select class="form-control" name="newcountry" placeholder="Country" aria-describedby="sizing-addon2" type="text" required value="{{ wine.country }}">
                            <option value="AT" selected>Austria</option>
                            <option value="FR">France</option>
                            <option value="SP">Spain</option>
                            <option value="NULL">N/A</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="input-group"> 
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></span>
                        <input class="form-control" name="newregion" placeholder="Region" aria-describedby="sizing-addon2" type="text" value="{{ wine.region }}">
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">            
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                        <input class="form-control" name="newwinery" placeholder="Winery" aria-describedby="sizing-addon2" type="text" required value="{{ wine.winery }}">
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
        <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="checkbox">
                        <label><input name="newtried" type="checkbox" value="{{ wine.tried }}">I already tried it</label>
                    </div>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <button type="submit" class="btn btn-danger">Save</button>
                    <a href="/">
                        <button type="button" class="btn btn-default">Discard</button>
                    </a>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
            </div>
    </form>

    <!-- BUTTON TRIGGER BACK TO LIST -->                    
    <a href="/" title="Go back to list">
        <button type="button" class="btn btn-danger btn-lg" id="fixedbutton">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
    </a>

</div> <!-- / CONTAINER -->
{% endblock content %}

