
{% extends "base.html" %}

{% block content %}
<div class="container">
        <script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    responsive: true
                    }
                );
            } );
        </script>
        {% if wines %}
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <!--glyphicon glyphicon-floppy-disk-->
                <th>Category</th>
                <th>Color</th>
                <th>Name</th>
                <th>Winery</th>
                <th>Country</th>
                <th>Year</th>
                <th>Tried</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Category</th>
                <th>Color</th>
                <th>Name</th>
                <th>Winery</th>
                <th>Country</th>
                <th>Year</th>
                <th>Tried</th>
                <th>ACTIONS</th>
            </tr>
        </tfoot>
        <tbody>
            {% for wine in wines %}
            <tr>
                <td>{{ wine.category }}</td>
                <td>{{ wine.color }}</td>
                <td>{{ wine.name }}</td>
                <td>{{ wine.winery }}</td>
                <td>{{ wine.country }}</td>
                <td>{{ wine.year }}</td>
                <td>{{ wine.tried }}</td>
                <td>
                    <form action="/details/{{ wine.key.id() }}" method="post" style="display: inline;">
                        <button class="btn btn-danger" title="Details" type="button" data-toggle="modal" data-target="#winedetails">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                        </button>
                    </form>
                    <form action="/edit/{{ wine.key.id() }}" method="post" style="display: inline;">
                    <button class="btn btn-danger" title="Edit" type="button" data-toggle="modal" data-target="#editwine">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    </form>
                    <form action="/delete/{{ wine.key.id() }}" method="post" style="display: inline;">
                        <button class="btn btn-danger" title="Delete" type="submit">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif -%}
</div> <!-- / CONTAINER -->
{% endblock content %}

