<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WinePy - make room for your wine, it's about time!</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.13/r-2.1.1/datatables.min.css"/>
    <style>
    body { padding-top: 70px; }
    .navbar { padding: 0 1%; }
    #fixedbutton { position: fixed; bottom: 2%; right: 2%; border-radius: 50%; border: 2px solid white; height: 4em; width: 4em; box-shadow: 1px 1px 5px grey}
    </style>
        
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>!window.jQuery && download.write('<script src="../js/jquery.min.js"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>!window.jQuery && download.write('<script src="../js/bootstrap.min.js"><\/script>')</script>
    <!-- dataTable JavaScript library -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/r-2.1.1/datatables.min.js"></script>
</head>

<body>
    <div> <!-- header -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><img alt="WinePyLogo" src="/img/logo.svg" width="100px"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <div class="navbar-right">
                        <p class="navbar-text">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
                        <button type="button" class="btn navbar-btn btn-success">LOGIN</button>
                        <button type="button" class="btn navbar-btn btn-warning">LOGOUT</button>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div> <!-- / header -->
    <div class="container">
        <script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    responsive: true
                    }
                );
            } );
        </script>
        {% if wines %}
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Category</th>
                <th>Color</th>
                <th>Name</th>
                <th>Winery</th>
                <th>Country</th>
                <th>Year</th>
                <th>Tried</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Category</th>
                <th>Color</th>
                <th>Name</th>
                <th>Winery</th>
                <th>Country</th>
                <th>Year</th>
                <th>Tried</th>
            </tr>
        </tfoot>
        <tbody>
            {% for wine in wines %}
            <tr>
                <td>{{ wine.category }}</td>
                <td>{{ wine.color }}</td>
                <td>{{ wine.name }}</td>
                <td>{{ wine.winery }}</td>
                <td>{{ wine.country }}</td>
                <td>{{ wine.year }}</td>
                <td>{{ wine.tried }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif -%}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg" id="fixedbutton" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel" style="text-align: center; margin: 0 auto;">🍷 ADD A WINE 🍷</h3>
        </div>
        <form method="post" action="/" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group form-group-lg"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span></span>
                                <input class="form-control" name="name" placeholder="Name of wine" aria-describedby="sizing-addon2" type="text" required>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></span>
                                <select class="form-control" name="category" placeholder="category" aria-describedby="sizing-addon2" type="text" required>
                                    <option value="sparkling wine">Sparkling wine</option>
                                    <option value="wine" selected>Wine</option>
                                    <option value="NULL">N/A</option>
                                </select>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></span>
                                <select class="form-control" name="color" placeholder="color" aria-describedby="sizing-addon2" type="text" required>
                                    <option value="red" selected>Red</option>
                                    <option value="rose">Rose</option>
                                    <option value="white">White</option>
                                    <option value="NULL">N/A</option>
                                </select>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span></span>
                                <select class="form-control" name="sweetness" placeholder="sweetness" aria-describedby="sizing-addon2" type="text" required>
                                    <option value="dry" selected>Dry</option>
                                    <option value="semi-dry">Semi-dry</option>
                                    <option value="sweet">Sweet</option>
                                    <option value="NULL">N/A</option>
                                </select>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></span>
                                <input class="form-control" name="vine" placeholder="Grape variety" aria-describedby="sizing-addon2" type="text">
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                <input class="form-control" name="year" placeholder="Vintage e.g. 2017" aria-describedby="sizing-addon2" type="number" min="1900" max="2099" step="1" required>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-text-size" aria-hidden="true"></span></span>
                                <input class="form-control" name="amount" placeholder="Amount e.g. 750" aria-describedby="sizing-addon2" type="number" step="1" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <select class="form-control" name="unit" placeholder="Unit" aria-describedby="sizing-addon2" type="text" required>
                                    <option value="ml" selected>Milliliter</option>
                                    <option value="NULL">N/A</option>
                                </select>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group form-group-lg"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
                                <select class="form-control" name="country" placeholder="country" aria-describedby="sizing-addon2" type="text" required>
                                    <option value="AT" selected>Austria</option>
                                    <option value="FR">France</option>
                                    <option value="SP">Spain</option>
                                    <option value="NULL">N/A</option>
                                </select>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></span>
                                <input class="form-control" name="region" placeholder="Region" aria-describedby="sizing-addon2" type="text">
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">            
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
                                <input class="form-control" name="winery" placeholder="Winery" aria-describedby="sizing-addon2" type="text" required>
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="input-group form-group-lg"> 
                                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></span>
                                <input class="form-control" name="image" placeholder="Image upload" aria-describedby="sizing-addon2" type="file">
                            </div>
                        </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label><input class="checkbox style-2" name="tried" type="checkbox" value="True">I already tried it</label>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align: right; margin: 0 auto;">
                <div class="row">
                    <div class="col-md-6"></div>
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-danger">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
                        </div>
                    <div class="col-md-1"></div>
            </div>
        </form>
        </div>
    </div>
    </div>

    </div>
</body>
</html>